:root{
    --color-primario: #2e2e2e;
}

@import url('https://fonts.googleapis.com/css2?familia=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
}

.contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
    
}

.contenedor-header{
    position: relative;
    width: 100%;
    height: 70px;
    background: var(--color-primario);
}

.contenedor-header > img{
    position: relative;
    margin-top: 10px;
}

.contenedor-header h1{
    position: absolute;
    color: #FFFFFF;
    top: 16px;
    left: 40%;
}

.contenedor-theme{
    position: relative;
    width: 150px;
    height: 40px;
    float: right;
    top: 15px;
    right: 150px;
}

.contenedor-check-principal{
    display: inline-block;
    position: relative;
    top: 4px;
    left: 30px;
}

.checkbox-cambio-theme{
    position: relative;
    width: 60px;
    height: 30px;
    background: #3b3b3b;
    border-radius: 50px;
    border: 2px solid #FFFFFF;
}

.checkbox-cambio-theme .imgs-1,.imgs-2{
    position: relative;
    top: 3px;
    left: 4px;
    transition: all 250ms;
}

.circulo-activador-theme{
    position: absolute;
    background: #FFFFFF;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transition: all 300ms;

}
.ocultar{
    display: none;
}

#cambio-tema:checked ~ .circulo-activador-theme{
    left: 35px;
    transition: all 300ms;
}

#cambio-tema:checked + .imgs-1{
    opacity: 1;
}

.contenedor-main{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    padding-left: 30px;
    background: red;
}

